{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script> --}}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>

<!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div> 
           <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->  
  
  <div id="main-wrapper">
     {{>admin-header}}
	 {{>admin-sideNavbar}}
		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
				<!-- Add Order -->
				<div class="modal fade" id="addOrderModalside">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Add Event</h5>
								<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form>
									<div class="form-group">
										<label class="text-black font-w500">Event Name</label>
										<input type="text" class="form-control">
									</div>
									<div class="form-group">
										<label class="text-black font-w500">Event Date</label>
										<input type="date" class="form-control">
									</div>
									<div class="form-group">
										<label class="text-black font-w500">Description</label>
										<input type="text" class="form-control">
									</div>
									<div class="form-group">
										<button type="button" class="btn btn-primary">Create</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					{{!-- <div class="col-xl-3 col-xxl-4">
						<div class="row">
							<div class="col-xl-12 col-md-6">
								<div class="card">
									<div class="card-header border-0 pb-0">
										<h4 class="fs-20">Best Selling</h4>
										<select class="form-control style-1 default-select ">
											<option>This Week</option>
											<option>Next Week</option>
											<option>This Month</option>
											<option>Next Month</option>
										</select>
									</div>
									<div class="card-body">
										<div id="donutChart"></div>
										<div class="d-flex justify-content-between mt-4">
											<div class="pr-2">
												<svg width="20" height="8" viewBox="0 0 20 8" fill="none" xmlns="http://www.w3.org/2000/svg">
													<rect width="20" height="8" rx="4" fill="#214BB8"/>
												</svg>
												<h4 class="fs-18 text-black mb-1 font-w600">21,512</h4>
												<span class="fs-14">Ticket Left</span>
											</div>
											<div class="pr-2">
												<svg width="20" height="8" viewBox="0 0 20 8" fill="none" xmlns="http://www.w3.org/2000/svg">
													<rect width="20" height="8" rx="4" fill="#FE634E"/>
												</svg>
												<h4 class="fs-18 text-black mb-1 font-w600">45,612</h4>
												<span class="fs-14">Ticket Sold</span>
											</div>
											<div class="">
												<svg width="20" height="8" viewBox="0 0 20 8" fill="none" xmlns="http://www.w3.org/2000/svg">
													<rect width="20" height="8" rx="4" fill="#45ADDA"/>
												</svg>
												<h4 class="fs-18 text-black mb-1 font-w600">275</h4>
												<span class="fs-14">Event Held</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div> --}}
					<div class="col-md-12">
						<div class="row">
							<div class="col-xl-4 col-xxl-6 col-lg-4 col-sm-6">
								<div class="card">
									<div class="card-body">
										<div class="d-flex align-items-end">
											<div>
												<p class="fs-14 mb-1">New Sales</p>
												<span class="fs-35 text-black font-w600">93
													<svg class="ml-1" width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M2.00401 11.1924C0.222201 11.1924 -0.670134 9.0381 0.589795 7.77817L7.78218 0.585786C8.56323 -0.195262 9.82956 -0.195262 10.6106 0.585786L17.803 7.77817C19.0629 9.0381 18.1706 11.1924 16.3888 11.1924H2.00401Z" fill="#33C25B"/>
													</svg>
												</span>
											</div>
											<canvas class="lineChart" id="chart_widget_2" height="250"></canvas>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-xxl-6 col-lg-4 col-sm-6">
								<div class="card">
									<div class="card-body">
										<div class="d-flex justify-content-between align-items-center">
											<div>
												<p class="fs-14 mb-1">Event Held</p>
												<span class="fs-35 text-black font-w600">856
													<svg class="ml-1" width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M2.00401 11.1924C0.222201 11.1924 -0.670134 9.0381 0.589795 7.77817L7.78218 0.585786C8.56323 -0.195262 9.82956 -0.195262 10.6106 0.585786L17.803 7.77817C19.0629 9.0381 18.1706 11.1924 16.3888 11.1924H2.00401Z" fill="#33C25B"/>
													</svg>
												</span>
											</div>
											<div class="d-inline-block ml-auto position-relative donut-chart-sale">
												<span class="donut" data-peity='{ "fill": ["rgb(254, 99, 78)", "rgba(244, 244, 244, 1)"],   "innerRadius": 31, "radius": 10}'>6/8</span>
												<small class="text-secondary">90%</small>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-xxl-6 col-lg-4 col-sm-6">
								<div class="card">
									<div class="card-body">
										<div class="d-flex align-items-end">
											<div>
												<p class="fs-14 mb-1">New Sales</p>
												<span class="fs-35 text-black font-w600">93
													<svg class="ml-1" width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M2.00401 11.1924C0.222201 11.1924 -0.670134 9.0381 0.589795 7.77817L7.78218 0.585786C8.56323 -0.195262 9.82956 -0.195262 10.6106 0.585786L17.803 7.77817C19.0629 9.0381 18.1706 11.1924 16.3888 11.1924H2.00401Z" fill="#33C25B"/>
													</svg>
												</span>
											</div>
											<canvas class="lineChart" id="chart_widget_2" height="85"></canvas>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-xxl-6 col-lg-4 col-sm-6">
								<div class="card">
									<div class="card-body">
										<div class="d-flex align-items-end">
											<div>
												<p class="fs-14 mb-1">New Sales</p>
												<span class="fs-35 text-black font-w600">93
													<svg class="ml-1" width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M2.00401 11.1924C0.222201 11.1924 -0.670134 9.0381 0.589795 7.77817L7.78218 0.585786C8.56323 -0.195262 9.82956 -0.195262 10.6106 0.585786L17.803 7.77817C19.0629 9.0381 18.1706 11.1924 16.3888 11.1924H2.00401Z" fill="#33C25B"/>
													</svg>
												</span>
											</div>
											<canvas class="lineChart" id="chart_widget_2" height="85"></canvas>
										</div>
									</div>
								</div>
							</div>
					{{!-- fig --}}
							<div class="col-md-6">
								<div class="card">
									<div class="card-header border-0 pb-0">
										<h4 class="fs-20">Payment Graph</h4>
										
									</div>
									<div class="card-body">
										<div class="tab-content" id="myTabContent">
											<div class="tab-pane fade show active" id="user" role="tabpanel">
												<canvas id="myChart1" width="100%" height="100%"></canvas>

											</div>
										</div>
										
									</div>
								</div>
							</div>
							{{!-- fig-2 --}}
							<div class="col-md-6">
								<div class="card">
									<div class="card-header border-0 pb-0">
										<h4 class="fs-20">Payment Graph</h4>
										
									</div>
									<div class="card-body">
										<div class="tab-content" id="myTabContent">
											<div class="tab-pane fade show active" id="user" role="tabpanel">
												<canvas id="myChart2" width="100%" height="100%"></canvas>

											</div>
										</div>
										
									</div>
								</div>
							</div>
							{{!-- fig-3 --}}
							<div class="col-md-6">
								<div class="card">
									<div class="card-header border-0 pb-0">
										<h4 class="fs-20">Payment Graph</h4>
										
									</div>
									<div class="card-body">
										<div class="tab-content" id="myTabContent">
											<div class="tab-pane fade show active" id="user" role="tabpanel">
												<canvas id="myChart4" width="100%" height="100%"></canvas>

											</div>
										</div>
										
									</div>
								</div>
							</div>
							<div class="col-xl-12">
								<div class="card" id="sales-revenue">
									<div class="card-header pb-0 d-block d-sm-flex border-0">
										<h3 class="fs-20 text-black mb-0">Sales Revenue</h3>
										<div class="card-action revenue-tabs mt-3 mt-sm-0">
											<ul class="nav nav-tabs" role="tablist">
												<li class="nav-item">
													<a class="nav-link active" data-toggle="tab" onclick="yearly()" role="tab" aria-selected="false">
														Yearly
													</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" data-toggle="tab" onclick="monthly()" role="tab" aria-selected="false">
														Monthly
													</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" data-toggle="tab" onclick="daily()" role="tab" aria-selected="true">
														Daily
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="card-body">
										<div class="tab-content" id="myTabContent">
											<div class="tab-pane fade show active" id="user" role="tabpanel">
												<canvas id="myChart9" class="chartjs"></canvas>
											</div>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>

				</div>
            </div>
        </div>
  
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="http://dexignzone.com/" target="_blank">DexignZone</a> 2021</p>
            </div>
        </div>

    </div>



  <!--********************************** first graph ***********************************-->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
<script>
 const data = {
  labels: [
   {{#each paymentGrph}} '{{_id}}', {{/each}}
  ],
  datasets: [{
    label: 'My First Dataset',
    data: [ {{#each paymentGrph}} '{{TotalAmount}}', {{/each}} ],
    backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(75, 192, 192)',
      'rgb(255, 205, 86)',
      
    ]
  }]
};

  const config = {
    type: 'polarArea',
    data: data,
    options: {
		responsive:true
	}
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart1'),
    config
  );
</script>

 <!--********************************** second graph ***********************************-->

      <script>
      const data2 = {
        labels2: [ {{#each paymentGrph}} '{{_id}}', {{/each}} ],
        datasets: [{
          label: 'My First Dataset',
         data: [ {{#each paymentGrph}} '{{TotalAmount}}', {{/each}} ],
        backgroundColor:[ 'green','blue','aqua'],
		borderColor: 'white'
        }]
      };

          const config2= {
             type: 'pie',
             data: data2,
            options: {}
            };


         const myChart2 = new Chart(
           document.getElementById('myChart2'),
           config2
         );

       </script>

   <!--********************************** Third graph ***********************************-->

        <script>
            const labels4 =  [ {{#each paymentGrph}} '{{_id}}', {{/each}} ]
            const data4 = {
            labels: labels4,
            datasets: [{
            label: 'My First dataset',
            backgroundColor: [
                             'rgb(255, 99, 132)',
                             'rgb(75, 192, 192)',
                             'rgb(255, 205, 86)',
							 ],
            borderColor: 'rgb(255, 99, 132)',
            data: [ {{#each paymentGrph}} '{{TotalAmount}}', {{/each}} ],
            }]
            };

            const config4 = {
            type: 'bar',
            data: data4,
            options: {}
            };
        </script>

        <script>
            const myChart4 = new Chart(
            document.getElementById('myChart4'),
            config4
            );
        </script>


<!--**********************************day sales graph ***********************************-->

	  <script>
		function daily(){
            const labels5 =  [ {{#each sales}} '{{_id}}', {{/each}} ]
		

            const data5 = {
            labels: labels5,
            datasets: [{
            label: 'My First dataset',
            backgroundColor: [
                             'rgb(255, 99, 132)',
                             'rgb(75, 192, 192)',
                             'rgb(255, 205, 86)',
							 ],
            borderColor: 'rgb(255, 99, 132)',
            data: [ {{#each sales}} '{{TotalAmount}}', {{/each}} ],
            }]
            };

            const config5 = {
            type: 'line',
            data: data5,
            options: {}
            };
			

            const myChart5 = new Chart(
            document.getElementById('myChart9'),
            config5
            );
			}
        </script>

    <!--**********************************monthly sales graph ***********************************-->
        

        <script>
		 function monthly(){
            const labels6 =  [ {{#each monthly}} '{{_id}}', {{/each}} ]
		 
            const data6 = {
            labels: labels6,
            datasets: [{
            label: 'My First dataset',
            backgroundColor: [
                             'rgb(255, 99, 132)',
                             'rgb(75, 192, 192)',
                             'rgb(255, 205, 86)',
							 ],
            borderColor: 'rgb(255, 99, 132)',
            data: [ {{#each monthly}} '{{TotalAmount}}', {{/each}} ],
            }]
            };

            const config6 = {
            type: 'line',
            data: data6,
            options: {}
            };

            const myChart6 = new Chart(
            document.getElementById('myChart9'),
            config6
            );
			}
        </script>

		



	   <!--**********************************yearly sales graph ***********************************-->
        

        <script>

            const labels7 =  [ {{#each yearly}} '{{_id}}', {{/each}} ];
            const data7 = {
            labels: labels7,
            datasets: [{
            label: 'My First dataset',
            backgroundColor: [
                             'rgb(255, 99, 132)',
                             'rgb(75, 192, 192)',
                             'rgb(255, 205, 86)',
							 ],
            borderColor: 'rgb(255, 99, 132)',
            data: [ {{#each yearly}} {{TotalAmount}}, {{/each}} ],
            }]
            };

            const config7 = {
            type: 'line',
            data: data7,
            options: {}
            };
        </script>

        <script>
            const myChart7 = new Chart(
            document.getElementById('myChart9'),
            config7
            );
        </script>


        <script>
	      function yearly(){
		const labels7 =  [ {{#each yearly}} '{{_id}}', {{/each}} ];
	       

            const data7 = {
            labels: labels7,
            datasets: [{
            label: 'My First dataset',
            backgroundColor: [
                             'rgb(255, 99, 132)',
                             'rgb(75, 192, 192)',
                             'rgb(255, 205, 86)',
							 ],
            borderColor: 'rgb(255, 99, 132)',
            data: [ {{#each yearly}}{{TotalAmount}}, {{/each}} ],
            }]
            };

            const config7 = {
            type: 'line',
            data: data7,
            options: {}
            };


            const myChart7 = new Chart(
            document.getElementById('myChart9'),
            config7
            );
			 }
        </script>


        




	{{!-- <div class="col-xl-12">
								<div class="card" id="sales-revenue">
									<div class="card-header pb-0 d-block d-sm-flex border-0">
										<h3 class="fs-20 text-black mb-0">Sales Revenue</h3>
										<div class="card-action revenue-tabs mt-3 mt-sm-0">
											<ul class="nav nav-tabs" role="tablist">
												<li class="nav-item">
													<a class="nav-link active" data-toggle="tab" href="#monthly" role="tab" aria-selected="false">
														Monthly
													</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" data-toggle="tab" href="#weekly" role="tab" aria-selected="false">
														Weekly
													</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" data-toggle="tab" href="#today" role="tab" aria-selected="true">
														Daily
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="card-body">
										<div class="tab-content" id="myTabContent">
											<div class="tab-pane fade show active" id="user" role="tabpanel">
												<canvas id="revenue" class="chartjs"></canvas>
											</div>
										</div>
									</div>
								</div>
							</div> --}}