<div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>

    <div id="main-wrapper">

		   {{>admin-header}}
	       {{>admin-sideNavbar}}

        <div class="content-body">
            <div class="container-fluid">
				<!-- Add Order -->
                <div class="page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active"><a href="#">Products</a></li>
					</ol>
                </div>
                <!-- row -->
                <div class="row">
					<div class="col-xl-8 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Edit Products</h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <form action="/admin/editProduct/{{product._id}}" method="POST" enctype="multipart/form-data" >

                                        {{!-- <div class="form-row"> --}}
                                            <div class="form-group">
                                                <label>Product Name</label>
                                                <input type="text" class="form-control" value="{{product.name}}" name="name">
                                            </div>
                                            <div class="form-group">
                                                <label>Product Id</label>
                                                <input type="Text" class="form-control" name="prd_Id" value="{{product.prd_Id}}">
                                            </div>
                                            <div class="form-group">
                                                <label>Price</label>
                                                <input type="text" class="form-control" name="price" value="{{product.price}}">
                                            </div>
											 <div class="form-group">
											      <label>Choose Catagory</label>
                                                   <input type="text" class="form-control" name="catagory" value="{{product.catagory}}" >
                                            </div>
                                            <div class="form-group">
                                                <label>Stock</label>
                                                <input type="text" class="form-control" name="stock" value="{{product.stock}}" >
                                            </div>
											 <div class="form-group">
                                                <label>Offer</label>
                                                <input type="text" class="form-control" name="offer" value="{{product.offer}}" >
                                            </div>
										
                                                  <div class="form-group">
											      <label>Description</label>
                                                  <input type="text" class="form-control" name="description" value="{{product.description}}" style="height:80px ;" >
                                              </div>
										
										      <div class="form-group">
                                                 <label>Choose Image File</label>
                                                 <br>
                                                 <img src="/product-images/{{product.image.[0]}}" alt="" style="width: 100px; height: auto;" id="imgview1">
                                                 <img src="/product-images/{{product.image.[1]}}" alt="" style="width: 100px; height: auto;" id="imgview2">
                                                 <img src="/product-images/{{product.image.[2]}}" alt="" style="width: 100px; height: auto;" id="imgview3">
                                                 <img src="/product-images/{{product.image.[3]}}" alt="" style="width: 100px; height: auto;" id="imgview4">
                                                 <img src="/product-images/{{product.image.[4]}}" alt="" style="width: 100px; height: auto;" id="imgview5">
                                                 <img src="/product-images/{{product.image.[5]}}" alt="" style="width: 100px; height: auto;" id="imgview6">
                                                 <br>
                                                 <input multiple type="file" id="product_images[]" accept="image/*r" onchange="viewimg(event)" name="image" class="form-control" >
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary m-5 px-5">Add Products</button>
                                    </form>
                                </div>
                            </div>
                        </div>
					</div>
                </div>
            </div>
        </div>
 
    </div>

<script>
    function viewimg(event){
        document.getElementById('imgview1').src=URL.createObjectURL(event.target.files[0])
        document.getElementById('imgview2').src=URL.createObjectURL(event.target.files[0])
        document.getElementById('imgview3').src=URL.createObjectURL(event.target.files[0])
        document.getElementById('imgview4').src=URL.createObjectURL(event.target.files[0])
        document.getElementById('imgview5').src=URL.createObjectURL(event.target.files[0])
        document.getElementById('imgview6').src=URL.createObjectURL(event.target.files[0])
    }
</script>