 <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>

    <div id="main-wrapper">

        {{>admin-header}}
	    {{>admin-sideNavbar}}



        <div class="content-body">
            <div class="container-fluid">
				<!-- Add Order -->
				
                <div class="page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Brand</a></li>
					</ol>
                </div>
              <div class="col-xl-6 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Add Brand</h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                     <form  onsubmit="return myFunc()" action="/admin/addCatagory" method="post" enctype="multipart/form-data" >
                                        <div class="form-row">
                                            <div class="form-group">
                                                <label>Brand Name</label>
                                                <input type="text" class="form-control" placeholder="entet the Brand name" id="catagoryId" name="catagory" onkeyup="ctgrValidate()"  >
                                                <span class="text-primary"  id="catagoryErr"style="color:red !important ;"  ></span>
                                            </div>
                                             <div class="form-group">
                                                 <label>Choose Image File</label>
                                                 <input multiple type="file" id="product_images[]" accept="image/*r" name="image" class="form-control" >
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">ADD Brand</button>
                                    </form>
                                </div>
                            </div>
                        </div>
					</div>
                <!-- row -->
                <div class="row">
					<div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Brand Table</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example4" class="display min-w850">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Images</th>
                                                <th>Brands</th>
                                                <th>Edit</th>
												<th>action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each Brand}}
                                            <tr>
                                                <td>{{@index}}</td>
                                                <td><img style="width:50px;,height:50px ;" src="/product-images/{{this.image.[0]}}" alt=""> </td>
                                                <td>{{this.catagory}}</td>
                                                   <td><a  href="/admin/editcatagory/{{this._id}}" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-pencil"></i></a></td> 
                                                    {{!-- <td><a  href="/admin/deleteCatagory/{{this._id}}"  onclick="return confirm('Are you sure you want to delete {{this.catagory}}?')" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a></td> --}}
                                                    <td><p class="btn btn-danger shadow btn-xs sharp" data-toggle="modal" data-target="#exampleModal{{this._id}}"><i class="fa fa-trash"></i></p></td>
                                           
                                 
                                                

                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal{{this._id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                        <button type="button" class="btn-close px-1" data-dismiss="modal" aria-label="Close">x</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to delete {{this.catagory}}
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <a href="/admin/deleteCatagory/{{this._id}}" type="button" class="btn btn-primary">Delete</a>
                                                    </div>
                                                    </div>
                                                </div>
                                                </div>
                                           
                                           
                                           
                                           
                                           
                                           
                                           
                                           
                                           
                                           
                                           
                                           
                                           
                                           
                                           
                                            </tr>
                                          {{/each}}
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
            </div>
        </div>
    </div>
     





     {{!-- /* -------------------------------------------------------------------------- */
     /*                                 validation                                       */
     /* -------------------------------------------------------------------------- */ --}}
     
     <script src="/adminSide/adminjs/addCatagory.js"></script>

    

    <script src="/adminSide/assets/vendor/global/global.min.js"></script>
    <!-- Datatable -->
    <script src="/adminSide/assets/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/adminSide/assets/js/plugins-init/datatables.init.js"></script>

{{!-- onclick="return confirm('Are you sure you want to delete {{this.catagory}}')"  --}}