 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>

    <div id="main-wrapper">

        {{>admin-header}}
	    {{>admin-sideNavbar}}
        <div class="content-body">
            <div class="container-fluid">
				<!-- Add Order -->
				
                <div class="page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active"><a href="#">Products</a></li>
					</ol>
                </div>
                <!-- row -->
                <div class="row">
					<div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Products Table</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example4" class="display min-w850">
                                        <thead>
                                            <tr>
                                                <th>Sl No:</th>
                                                <th>Name</th>
                                                <th>Address</th>
                                                <th>Date</th>
                                                <th>Payment</th>
                                                <th>Status</th>
                                                <th>Amount</th>
                                          {{!-- <th>Action</th> --}}
                                                <th>More</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each orderlist}}
                                                <tr>
                                                <td>{{@index}}</td>
                                                <td>{{this.delivaryDtails.name}}</td>
                                                <td>{{this.delivaryDtails.address}}</td>
                                                <td>{{this.date}}</td>
                                                <td>{{this.paymentMethod}}</td>
                                                <td>{{this.status}}</td>
                                                <td>{{this.total}}</td>
                                          {{!-- <td class="btn btn-danger" >Cancel</td> --}}
                                         {{!-- <td class="btn btn-primary" ><a href="/orderMoreDetails"></a>Datails</td> --}}
                                                 <td> 
                                                <a href="/admin/adminOrderDetail/{{this._id}}" class="btn btn-primary shadow btn-xs sharp mr-1"><i class="fa-solid fa-file-pen"></i></a>
                                                <td><a  href="" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a></td>
                                                </td>
            {{!-- /viewOrderDetails?id={{this._id}} --}}
                                              </tr>
                                              {{/each}}
                                       </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
            </div>
        </div>
    </div>

    <script src="/adminSide/assets/vendor/global/global.min.js"></script>
    <!-- Datatable -->
    <script src="/adminSide/assets/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/adminSide/assets/js/plugins-init/datatables.init.js"></script>

