<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>

    <div id="main-wrapper">

        {{>admin-header}}
        <div class="content-body" style="margin-left:0px ;">
           
            <div class="container-fluid">
						<div class="row">
                            <div class="col-6 col-md-4">
								<div class="card">
									<div class="card-body">
										<div class="d-flex justify-content-between align-items-center">
											<div>
                                                <p><b>Bill Address:</b></p>
												<p class="fs-14 mb-1">{{orderAddress.delivaryDtails.address}}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							
                            <div class="col-6 col-md-4">
								<div class="card">
									<div class="card-body">
										<div class="d-flex justify-content-between align-items-center">
											<div>
                                                <p><b>Bill Amout</b></p>
												<p class="fs-14 mb-1">Total Amout : <span>{{orderAddress.total}}</span>   </p>
											</div>
										</div>
									</div>
								</div>
							</div>
                             <div class="col-6 col-md-4">
								<div class="card">
									<div class="card-body">
										<div class="d-flex justify-content-between align-items-center">
											<div>
                                                <p><b>Bill Amout</b></p>
												<p class="fs-14 mb-1">Total Amout : <span>{{../singleTotal.[0].total}}</span>   </p>
											</div>
										</div>
									</div>
								</div>
							</div>
					</div>
            









				<!-- Add Order -->
				
                <div class="page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active"><a href="#">Orderss</a></li>
					</ol>
                </div>
                <!-- row -->
                <div class="row">
					<div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Products Table</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example4" class="display min-w850">
                                        <thead>
                                            <tr>
                                                <th>Sl No:</th>
                                                <th>image</th>
                                                <th>Name</th>
                                                <th>price</th>
                                                <th>Qunatity</th>
                                                <th>offer</th>
                                                <th>Total Amount</th>
                                                <th>Status</th>
                                          {{!-- <th>Action</th> --}}
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                             {{#each singleorder}} 
                                                <tr>
                                                <td>{{@index}}</td>
                                                        <td><img style="width:110px;height:130px"
                                                            src="/product-images/{{this.product.image.[0]}}" alt="pic"></td>
                                                <td>{{this.product.name}}</td>
                                                <td>{{this.product.price}}</td>
                                                <td>{{this.quantity}}</td>
                                                <td>{{this.product.offer}}</td>
                                                <td>{{this.singleTotal}}</td>
                                              
                                                <td>{{../orderAddress.status}}</td>
                                             
                                              </tr>
                                              {{/each}}
                                       </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
            </div>
        </div>
    </div>

    <script src="/adminSide/assets/vendor/global/global.min.js"></script>
    <!-- Datatable -->
    <script src="/adminSide/assets/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/adminSide/assets/js/plugins-init/datatables.init.js"></script>