 <style>
    tr:nth-child(even) {background-color: #f2f2f2;}
 </style>
 {{>user-header}}
 <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

 {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> --}}
    <div id="main-wrapper">
        <div class="content-body">
            <div class="container-fluid py-5">
				<!-- Add Order -->

                <!-- row -->
                <div class="row">
					<div class="col-12">
                        <div class="card">
                            <div class="card-body" style="box-shadow: 5px 10px;">
                                <div class="table-responsive">
                                    <table id="example4" class="display min-w850" style="  border: 1px solid #ddd; ">
                                        <thead style="background-color:rgb(3, 3, 56);color: #fff;">
                                            <tr>
                                                <th>Sl No:</th>
                                                <th>Name</th>
                                                <th>Address</th>
                                                <th>Date</th>
                                                <th>Payment</th>
                                                <th>Status</th>
                                                <th>Amount</th>
                                          {{!-- <th>Action</th> --}}
                                                <th>More</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each order}}
                                                <tr>
                                                   <td>{{@ index}}</td>
                                                   <td>{{this.delivaryDtails.name}}</td>
                                                   <td>{{this.delivaryDtails.address}}</td>
                                                   <td>{{this.date}}</td>
                                                   <td>{{this.paymentMethod}}</td>
                                                   <td>{{this.status}}</td>
                                                   <td>{{this.total}}</td>                                       
                                                    <td> 
                                                   <a href="/viewOrderDetails?id={{this._id}}" class="btn btn-primary"><i class="fa-solid fa-info"></i></i></a>
                                                   </td>
                                                </tr>
                                               {{/each}}
                                       </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
            </div>
        </div>
    </div>

    <script src="/adminSide/assets/vendor/global/global.min.js"></script>
    <!-- Datatable -->
    <script src="/adminSide/assets/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/adminSide/assets/js/plugins-init/datatables.init.js"></script>

{{>user-footer}}