<div class="page-wrapper">
        {{>user-header}}

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('/userSide/assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Profile Address<span>Edit</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">edit profile address</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="checkout">
	                <div class="container">
                        <div class="container">
            			<form action="/editUserAddress/{{editAddress._id}}" method="POST">
		                	<div class="row">
		                		<div class="col-lg-12">
		                			<h2 class="checkout-title">Add New Address</h2><!-- End .checkout-title -->
		                				<div class="row">
		                					<div class="col-sm-6">
		                						<label>First Name *</label>
		                						<input type="text" name="name" class="form-control" value="{{editAddress.name}}">
		                					</div><!-- End .col-sm-6 -->

		                					<div class="col-sm-6">
		                						<label>Email address*</label>
		                						<input type="text" name="email" class="form-control" value="{{editAddress.email}}" >
		                					</div><!-- End .col-sm-6 -->
		                				</div><!-- End .row -->
                                        <div class="row">
		                					<div class="col-sm-6">
		                						<label>Address*</label>
		                						<input type="text" name="address" class="form-control" value="{{editAddress.address}}" >
		                					</div><!-- End .col-sm-6 -->

		                					<div class="col-sm-6">
		                						<label>landMark *</label>
		                						<input type="text" name="landmark" class="form-control" value="{{editAddress.landmark}}" >
		                					</div><!-- End .col-sm-6 -->
		                				</div><!-- End .row -->
  
	            						<div class="row">
		                					<div class="col-sm-6">
		                						<label>Town / City *</label>
		                						<input type="text" name="town" class="form-control" value="{{editAddress.town}}" >
		                					</div><!-- End .col-sm-6 -->

		                					<div class="col-sm-6">
		                						<label>State / County *</label>
		                						<input type="text" name="state" class="form-control" value="{{editAddress.state}}" >
		                					</div><!-- End .col-sm-6 -->
		                				</div><!-- End .row -->

		                				<div class="row">
		                					<div class="col-sm-6">
		                						<label>Postcode *</label>
		                						<input type="text" name="pincode" class="form-control" value="{{editAddress.pincode}}" >
		                					</div><!-- End .col-sm-6 -->

		                					<div class="col-sm-6">
		                						<label>Phone *</label>
		                						<input type="tel" name="phone" class="form-control"value="{{editAddress.phone}}">
		                					</div><!-- End .col-sm-6 -->
		                				</div><!-- End .row -->
                                        <div  class="container" style="width:300px ;" >
                                            <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                            <b>Submit</b>
		                				    </button>
                                        </div>
		                		</div><!-- End .col-lg-9 -->
		                	</div><!-- End .row -->
            			</form>
                        </div>
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        
    </div><!-- End .page-wrapper -->
        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

          {{>user-footer}}

