
<style>
	.hai {
		border-style: solid;
        border-color: #f2f2f2;
	}
	.hello{
		margin: 20px;
	}
</style>

        {{>user-header}}
<div class="page-wrapper">

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('/userSide/assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Checkout<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="checkout">
	                <div class="container">
						<form action="#" id="checkout-form">



									
									<div class="row">
										<div class="col-lg-9 col-md-9 pl-3">


											<div class="coupon_code hai left" data-aos="fade-up" data-aos-delay="200">
												<div class="hello">
													<h3>Coupon</h3>
													<div class="coupon_inner">
													<p>Enter your coupon code if you have one.</p>
														<input class="mb-2" id="couponName" value="" name="couponCode"
														placeholder="Coupon code" type="text">
														&nbsp; &nbsp;<button onclick="applyCoupon(event)" id="applybutton"
														class="btn btn-primary btn-golden">Apply coupon</button>
														<p id="error" class="text-danger"></p>
														{{!-- <button onclick="removeCoupon(event)" id="deletebutton" --}}
														{{!-- class="btn btn-Danger btn-golden"><i class="fa fa-trash"></i></button> --}}
														<br>
													<a onclick="removeCoupon(event)" id="deletebutton"><i class="fa fa-trash" style="color:red ; cursor: pointer;" ></i></a>
													</div>
												</div>
											</div>

										</div>
										{{!-- <div class="col-lg-3 col-md-3 pl-3">


											<div class="coupon_code hai left" data-aos="fade-up" data-aos-delay="200">
												<div class="hello">
													<h3>Wallet</h3>
													<div>
														<h6><a href="">Wallete Balence: <span>dsfd</span></a></h6>
													</div>
													<div>
														<input type="radio" id="walletAdd" name="Wallet" value="Wallet11">
														<label><b>Use Wallet</b></label><br>
														<input type="radio" id="walletRmv" name="Wallet" value="Wallet12">
														<label><b>Remove Wallet</b></label><br>
														
													</div>
													
												</div>
											</div>

										</div> --}}
									</div>


									<br>
									{{!-- <form action="#" id="checkout-form"> --}}
										<div class="row">
											<div class="col-lg-9">
												<div>
												<label class="pl-5 pt-1" style="border: 1px solid ; width: 100%;
												background-color: rgb(11, 11, 70);"><h3 style="color:white ;">Billing Address</h3></label>
												</div>
												<br>

												<div class="list-group">
													{{#each userDetails}}
												<label class="list-group-item">&nbsp;
													<input value="{{this._id}}" class="form-check-input me-1" type="radio" name="address" id="flexRadioDefault1">
													&nbsp; &nbsp;<b> {{this.name}}</b>
													<p> &nbsp;    &nbsp; &nbsp;{{this.email}}</p>
													<P>&nbsp;    &nbsp; &nbsp;<span>{{this.address}}, {{this.landmark}}, {{this.pincode}}</span></span></P>
													<p>&nbsp;    &nbsp; &nbsp;<span>{{this.town}},  {{this.state}}</span></p>
													<p> &nbsp;    &nbsp; &nbsp;{{this.phone}}</p>
												</label>
												<br>
												{{/each}}
												</div>
												<a href="/AddPlaceOrderAddress" class="btn btn-primary">Add Address &nbsp;<b style="color:blue ;">+</b></a>
											</div><!-- End .col-lg-9 -->
											<aside class="col-lg-3">
												<div class="summary">
													<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

													<table class="table table-summary">
														<thead>
															<tr>
																<th>Product</th>
																<th>Total</th>
															</tr>
														</thead>

														<tbody>
															{{#each products}}
															<tr>
																<td  >{{this.product.name}}</td>
																<input type="text" name="name" value="{{this.product.name}}" hidden>
																<td>₹{{this.productTotal}}</td>
																<input type="text" name="proTotal" value="{{this.productTotal}}" hidden>
															</tr>
															{{/each}}
															
														
															<tr class="summary-subtotal">
																<input type="text" name="userId" value="{{user._id}}" hidden>
																<td>Cart Subtotal:</td>
																<td>₹{{total}}</td>
																<input type="text" name="subTotal" value="{{total}}" hidden>
															</tr><!-- End .summary-subtotal -->
															<tr>
																<td>Shipping:</td>
																<td>Free shipping</td>
															</tr>
															<tr>
																<td>Discount amount:</td>
																<td><span id="discount">0</span></td>
															</tr>
															{{!-- <tr>
																<td>Wallet amount:</td>
																<td><span id="wallet-discount">0</span></td>
															</tr> --}}
															<tr class="summary-total">
																<td>Total:</td>
																{{!-- <td>₹{{total}}</td> --}}
																
																	<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><span id="total">{{total}}</span></b></td>
																<input type="hidden" name="total" value="{{total}}">
															</tr><!-- End .summary-total -->
														</tbody>
													</table><!-- End .table table-summary -->

													
													<div>
														<p><b> Please select your : </b></p>
														<input type="radio" id="cod" name="Payment" value="cod">
														<label><b>COD</b></label><br>
														<input type="radio" id="razorpay" name="Payment" value="razorpay">
														<label><b>RazorPay</b></label><br>
														<input type="radio" id="paypal" name="Payment" value="paypal">
														<label><b>PayPal</b></label><br>
														<input type="radio" id="wallet" name="Payment" value="wallet">
														<label><b>Wallet</b></label><br>
														<p id="error1" class="text-danger"></p>
													</div>
													<br>    

													<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
														Checkout
													</button>
												</div><!-- End .summary -->
											</aside><!-- End .col-lg-3 -->
										</div><!-- End .row -->
            			</form>
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        
    </div><!-- End .page-wrapper -->
        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

          {{>user-footer}}
<script src="/userSide/userjs/ajax.js"></script>
           